## **The Cost of Achieving the 5 a Day Goal**

<center><img src="https://tse2.mm.bing.net/th?id=OIP.t3nmd_I60mh1C28tGAsS1gAAAA&pid=Api&P=0&h=220" style="width:500px;height:200px" align="center" />

## **Set up environment**

- A virtual enviroment was created from this project.
- Pip install was run 
- The necessary libraries were installed.

In [355]:

import pandas as pd

import matplotlib.pyplot as plt

#import requests

#from bs4 import BeautifulSoup

import os

## **Data Loading and Cleansing**

### **Data Loading and Cleansing - Part 1**

I will begin by loading, checking and making any needed edits to the below listed files.

- Fruits_Vegs_Colors.csv
- Fruit_Prices_2020.csv
- Fruit_Prices_2022.csv
- Vegetable_Prices_2020
- Vegetable_Prices_2022

#### Load Files

In [356]:
colors = pd.read_csv("Fruits_Vegs_Colors.csv")
fruits_20 = pd.read_csv("Fruit_Prices_2020.csv")
fruits_22 = pd.read_csv("Fruit_Prices_2022.csv")
vegetables_20 = pd.read_csv("Vegetable_Prices_2020.csv")
vegetables_22 = pd.read_csv("Vegetable_Prices_2020.csv")

#### View part of the data loaded by listing the first and last 5 records of each table

In [357]:
colors.head()

     Produce_nm          Color
0  Acorn squash  Yellow/Orange
1        Apples            Red
2     Appricots  Yellow/Orange
3    Artichokes         Greens
4       Arugula         Greens

In [358]:
colors.tail()

        Produce_nm          Color
87      Watercress         Greens
88      Watermelon            Red
89            Yams  Yellow/Orange
90  Yellow Peppers  Yellow/Orange
91        Zucchini         Greens

In [359]:
fruits_20.head()

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.5193,per pound,0.90,0.2425,pounds,0.4094
1,"Apples, applesauce",Canned,1.0660,per pound,1.00,0.5401,pounds,0.5758
2,"Apples, ready-to-drink",Juice,0.7804,per pint,1.00,8.0000,fluid ounces,0.3902
3,"Apples, frozen concentrate",Juice,0.5853,per pint,1.00,8.0000,fluid ounces,0.2926
4,Apricots,Fresh,2.9665,per pound,0.93,0.3638,pounds,1.1603

In [360]:
fruits_20.tail()

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
57,Raspberries,Fresh,6.6391,per pound,0.96,0.3197,pounds,2.2107
58,Raspberries,Frozen,4.1877,per pound,1.00,0.3307,pounds,1.3849
59,Strawberries,Fresh,2.5800,per pound,0.94,0.3197,pounds,0.8774
60,Strawberries,Frozen,2.8189,per pound,1.00,0.3307,pounds,0.9322
61,Watermelon,Fresh,0.3604,per pound,0.52,0.3307,pounds,0.2292

In [361]:
fruits_22.head()

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.8541,per pound,0.90,0.2425,pounds,0.4996
1,"Apples, applesauce",Canned,1.1705,per pound,1.00,0.5401,pounds,0.6323
2,"Apples, ready-to-drink",Juice,0.8699,per pint,1.00,8.0000,fluid ounces,0.4349
3,"Apples, frozen concentrate",Juice,0.6086,per pint,1.00,8.0000,fluid ounces,0.3043
4,Apricots,Fresh,3.6162,per pound,0.93,0.3638,pounds,1.4145

In [362]:
fruits_22.tail()

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
57,Raspberries,Fresh,7.7338,per pound,0.96,0.3197,pounds,2.5753
58,Raspberries,Frozen,6.1590,per pound,1.00,0.3307,pounds,2.0368
59,Strawberries,Fresh,2.9682,per pound,0.94,0.3197,pounds,1.0094
60,Strawberries,Frozen,3.3421,per pound,1.00,0.3307,pounds,1.1052
61,Watermelon,Fresh,0.3820,per pound,0.52,0.3307,pounds,0.2429

In [363]:
vegetables_20.head()

,Vegetable,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Acorn squash,Fresh,1.1804,per pound,0.4586,0.4519,pounds,1.1633
1,Artichoke,Fresh,2.1913,per pound,0.3750,0.3858,pounds,2.2545
2,Artichoke,Canned,3.4119,per pound,0.6500,0.3858,pounds,2.0251
3,Asparagus,Fresh,2.7576,per pound,0.4938,0.3968,pounds,2.2159
4,Asparagus,Canned,3.1269,per pound,0.6500,0.3968,pounds,1.9090

In [364]:
vegetables_20.tail()

,Vegetable,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
88,"Tomatoes, roma & plum",Fresh,1.1618,per pound,0.9100,0.3748,pounds,0.4785
89,Turnip greens,Fresh,2.4176,per pound,0.7500,0.3197,pounds,1.0304
90,Turnip greens,Canned,1.0429,per pound,0.6500,0.3527,pounds,0.5660
91,Turnip greens,Frozen,1.9451,per pound,0.7760,0.3527,pounds,0.8841
92,Zucchini,Fresh,1.5489,per pound,0.7695,0.3968,pounds,0.7987

In [365]:
vegetables_22.head()

,Vegetable,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Acorn squash,Fresh,1.1804,per pound,0.4586,0.4519,pounds,1.1633
1,Artichoke,Fresh,2.1913,per pound,0.3750,0.3858,pounds,2.2545
2,Artichoke,Canned,3.4119,per pound,0.6500,0.3858,pounds,2.0251
3,Asparagus,Fresh,2.7576,per pound,0.4938,0.3968,pounds,2.2159
4,Asparagus,Canned,3.1269,per pound,0.6500,0.3968,pounds,1.9090

#### Later the vegetables and fruits dataframes will  be concatenated, so I will perform the following steps:
- Verify that the columnn names are the same and have the same data type.
- Make any necessary adjustment.
- Add year column to each file

#### And the same token, since information from the color dataframe will be merge with the dataframe thatn contains the fruit and vegetables, I will do the following:
- Confirm that the joining fields have the same datatype
- Make any necesaary adjustment.

In [366]:
fruits_20.dtypes

Fruit                  object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

In [367]:
fruits_22.dtypes

Fruit                  object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

In [368]:
vegetables_20.dtypes

Vegetable              object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

In [369]:
vegetables_22.dtypes

Vegetable              object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

In [370]:
colors.dtypes

Produce_nm    object
Color         object
dtype: object

In [371]:
# Rename the Fruit columns in Fruits_20 and fruits_22  Produce.
fruits_20 = fruits_20.rename(columns={'Fruit' : 'Produce'})
fruits_22 = fruits_22.rename(columns={'Fruit' : 'Produce'})
vegetables_20 = vegetables_20.rename(columns={'Vegetable' : 'Produce'})
vegetables_22 = vegetables_22.rename(columns={'Vegetable' : 'Produce'})

#Add year field to 2020 and 2022 fruits and vegetables tables.df_produces
fruits_20['Year'] = 2020
fruits_22['Year'] = 2022
vegetables_20['Year'] = 2020
vegetables_22['Year'] = 2022

### **Data Loading and Cleansing - Part 2**

### Loading

Next, I will work on loading the 2016 data.

- The 2026 data is in single csv file per produce and have been saved to the folder Fruits_Vegs_2016.
- The name of the files are in following format: "<produce name> 2016.csv"; for example: "apples 2016.csv"
- Only the first 7 columns contain information. 
- Some files have additional columns with null values.

- An empty dataframe (df_produces_2016) will be created.
- For each file in the Fruits_Vegs_2016 folder, the following will be done:
    - Get the filename.
    - Extract the produce name from the file name.
    - Read the file into a dataframe.
    - If the dataframe have more than 7 columns, additional columns will be dropped.
    - The columns will be renamed to be consistent with the naming of the columns in df_produces (containing 2020 and 2022 data)
    - A column with the produce name will be added to the dataframe.
    - Concatenate the dataframe to dataframe df_produces_2026

### The following a sample 2026 file.

<img src="2016_sample_file.png" />

In [372]:
# Assign directory
directory = r"Fruits_Vegs_2016\\" 
produces_2016  = pd.DataFrame()

# Iterate over files in directory
for fname in os.listdir(directory):
    pos = fname.find(" ")
    produce_nm = fname[:pos]
    complete_filename = directory + fname
    produce = pd.read_csv(complete_filename, encoding='ISO-8859-1')

    #Information in these files are stored in the first 7 columns. The following drops any additional column.
    column_cnt = produce.shape[1]
    if column_cnt > 7:
        produce = produce.drop(produce.iloc[:,7:column_cnt], axis=1)   
    
    #The first row contains a description of the file, wwhich is read as the first column heading and the others are unnamed.
    #Therefore, the columns are renamed to be consistent with the columns in the dataframe with the 20202 and 2022 data.
   
    produce = produce.set_axis(['Form', 'RetailPrice', 'RetailPriceUnit', 'Yield', 'CupEquivalentSize', 'CupEquivalentUnit', 'CupEquivalentPrice'], axis=1)
    #df_produce['Produce'] = produce_nm
    produce.insert(0, "Produce", produce_nm)
    produces_2016 = pd.concat([produces_2016,produce], axis=0).reset_index(drop=True)
 
produces_2016.head(10)

,Produce,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,acorn_squash,Form,Average retail price,NaN,Preparation,Size of a,NaN,Average price
1,acorn_squash,NaN,NaN,NaN,yield factor,cup equivalent,NaN,per cup equivalent
2,acorn_squash,Fresh1,$1.12,per pound,0.459,0.452,pounds,$1.10
3,acorn_squash,1It is assumed that consumers bake acorn squas...,NaN,NaN,NaN,NaN,NaN,NaN
4,acorn_squash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,acorn_squash,"Source: Calculated by USDA, Economic Research ...",NaN,NaN,NaN,NaN,NaN,NaN
6,apples,Form,Average retail price,NaN,Preparation,Size of a,NaN,Average price
7,apples,NaN,NaN,NaN,yield factor,cup equivalent,NaN,per cup equivalent
8,apples,Fresh1,$1.62,per pound,0.9,0.243,pounds,$0.44
9,apples,Applesauce2,$1.05,per pound,1,0.540,pounds,$0.57

### Cleansing

Now that the 2016 files are loaded, I will work on cleansing the data to align with the 2020 and 2022 data.

In [373]:
# I am going to drop rows that do not containd the data needed for the analysis: 
#   Rows were the RetailPriceUnit field is null, based on the records displayed above. 
produces_2016.dropna(subset=['RetailPriceUnit'], inplace=True) 
produces_2016.head(10)

,Produce,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
2,acorn_squash,Fresh1,$1.12,per pound,0.459,0.452,pounds,$1.10
8,apples,Fresh1,$1.62,per pound,0.9,0.243,pounds,$0.44
9,apples,Applesauce2,$1.05,per pound,1,0.540,pounds,$0.57
11,apples,Ready to drink3,$0.63,per pint,1,8,fl oz,$0.32
12,apples,Frozen4,$0.51,per pint,1,8,fl oz,$0.26
27,apricots,Fresh1,$3.09,per pound,0.93,0.364,pounds,$1.21
29,apricots,Packed in juice2,$1.47,per pound,1,0.540,pounds,$0.80
30,apricots,"Packed in syrup, syrup discarded3",$1.86,per pound,0.65,0.441,pounds,$1.26
31,apricots,Dried4,$7.33,per pound,1,0.143,pounds,$1.05
46,artichoke,Fresh1,$2.36,per pound,0.375,0.386,pounds,$2.43

Let's compare the stucture of the the dataframe with the 2016 data against one of the dataframe with the 2020 and make any necessary change.

In [374]:
vegetables_20.dtypes

Produce                object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
Year                    int64
dtype: object

In [375]:
produces_2016.dtypes

Produce               object
Form                  object
RetailPrice           object
RetailPriceUnit       object
Yield                 object
CupEquivalentSize     object
CupEquivalentUnit     object
CupEquivalentPrice    object
dtype: object

In [376]:
# Change the type of the column that do not match
produces_2016['RetailPrice'] = produces_2016['RetailPrice'].str.replace('$', '').astype(float)
produces_2016['Yield'] = produces_2016['Yield'].str.replace(',', '').astype(float)
produces_2016['CupEquivalentSize'] = produces_2016['CupEquivalentSize'].str.replace('$', '').astype(float)
produces_2016['CupEquivalentPrice'] = produces_2016['CupEquivalentPrice'].str.replace('$', '').astype(float)

#Add year field to the 2016 data
produces_2016['Year'] = 2016

In [377]:
#Check reuslt of prior code block 
vegetables_20.dtypes

Produce                object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
Year                    int64
dtype: object

In [378]:
produces_2016.dtypes

Produce                object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
Year                    int64
dtype: object

Now that the dataframes structure are aligned. Let's compare the data in the 'Form' column, which will be used in the of the analysis.

In [379]:
fruits_20.value_counts('Form')

Form
Fresh     24
Canned    12
Juice     11
Dried      9
Frozen     6
Name: count, dtype: int64

In [380]:
#Get distict values in Form column and clean
produces_2016.value_counts('Form')

Form
Fresh1                                 44
Frozen2                                11
Canned1                                10
Frozen3                                 9
Canned2                                 8
Dried2                                  8
  Packed in juice2                      4
Frozen4                                 3
  Packed in syrup or water3             3
Dried1                                  3
Canned3                                 2
  Canned1                               2
Ready to drink3                         2
Juice, ready to drink2                  2
Dried4                                  2
  Packed in juice1                      1
  Full Heads                            1
  Packed in syrup, syrup discarded3     1
  Packed in syrup or water2             1
Canned1,2                               1
  Hearts                                1
  Heads1                                1
  Heads                                 1
  Frozen4                               1
  Frozen2                               1
  Florets1                              1
  Florets                               1
Dried1                                  1
Dried (Prunes)2                         1
Canned5                                 1
Cooked whole1                           1
Applesauce2                             1
Boiled                                  1
Canned, packed in syrup or water2       1
Fresh red cabbage1                      1
Fresh1                                  1
Fresh, peeled1                          1
Fresh, consumed with peel1              1
Frozen                                  1
Frozen1                                 1
Frozen french fries2                    1
Fresh green cabbage1                    1
Dried3                                  1
Grape and cherry1,2                     1
Frozen6                                 1
Large round1,4                          1
Juice, ready to drink3                  1
Raw                                     1
Raw baby2                               1
Raw whole1                              1
Raisins2                                1
Ready to drink2                         1
Ready to drink5                         1
Roma and plum1,3                        1
Sauerkraut2                             1
Sliced                                  1
Sticks                                  1
Trimmed bunches                         1
Whole                                   1
Name: count, dtype: int64

After seeing the vast differences in the values in the Form columns, I decided to dump the content of df_produces_2016 and visually compared to the 2020 files. Based on the comparison, I decided that the following edits were needed to better align the 2016 data to the 2020 & 2022 data.

In [381]:
# Clean-up values in column Produce and Form to align with values in produces
produces_2016['Produce'] = produces_2016['Produce'].str.capitalize()
produces_2016['Produce'] = produces_2016['Produce'].str.replace("_", " ")
produces_2016['Form'] = produces_2016['Form'].str.strip()
produces_2016['Form'] = produces_2016['Form'].str.replace("1,2", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("1,3", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("1,4", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("1", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("2", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("3", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("4", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("5", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("6", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("3", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("4", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("5", "")
produces_2016['Form'] = produces_2016['Form'].str.replace("6", "")
produces_2016.loc[produces_2016['Form'] == 'Applesauce', ['Produce', 'Form']] = ['Apples, applesauce', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Canned, packed in syrup or water')  & (produces_2016['Produce'] =='Cherries'),  ['Produce', 'Form']] = ['Cherries, packed in syrup or water', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in juice')  & (produces_2016['Produce'] =='Fruit cocktail'),  ['Produce', 'Form']] = ['Fruit cocktail, packed in juice', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in juice')  & (produces_2016['Produce'] =='Peaches'),  ['Produce', 'Form']] = ['Peaches, packed in juice', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in juice')  & (produces_2016['Produce'] =='Pears'),  ['Produce', 'Form']] = ['Pears, packed in juice', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in juice')  & (produces_2016['Produce'] =='Pineapple'),  ['Produce', 'Form']] = ['Pineapple, packed in juice', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in syrup or water')  & (produces_2016['Produce'] =='Fruit cocktail'),  ['Produce', 'Form']] = ['Fruit cocktail, packed in syrup or water', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in syrup or water')  & (produces_2016['Produce'] =='Peaches'),  ['Produce', 'Form']] = ['Peaches, packed in syrup or water', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in syrup or water')  & (produces_2016['Produce'] =='Pears'),  ['Produce', 'Form']] = ['Pears, packed in syrup or water', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in syrup or water')  & (produces_2016['Produce'] =='Pineapple'),  ['Produce', 'Form']] = ['Pineapple, packed in syrup or water', 'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Packed in syrup, syrup discarded')  & (produces_2016['Produce'] =='Apricots'),  ['Produce', 'Form']] = ['Apricots, Packed in syrup',  'Canned']
produces_2016.loc[(produces_2016['Form'] == 'Florets') & (produces_2016['Produce'] == 'Broccoli'),  ['Produce', 'Form']] = ['Broccoli florets', 'Fresh']
produces_2016.loc[(produces_2016['Form'] == 'Florets') & (produces_2016['Produce'] == 'Cauliflower'),  ['Produce', 'Form']] = ['Cauliflower florets', 'Fresh']
produces_2016.loc[(produces_2016['Form'] == 'Frozen')  & (produces_2016['Produce'] =='Apples'),  ['Produce', 'Form']] = ['Apples, frozen concentrate', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Frozen')  & (produces_2016['Produce'] =='Grapes'),    ['Produce', 'Form']] = ['Grapes, frozen concentrate', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Frozen')  & (produces_2016['Produce'] =='Oranges'),    ['Produce', 'Form']] = ['Oranges, frozen concentrate', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Frozen')  & (produces_2016['Produce'] =='Pineapples'),    ['Produce', 'Form']] = ['Pineapples, frozen concentrate', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Heads') & (produces_2016['Produce']== 'Broccoli'),  ['Produce', 'Form']] = ['Broccoli heads', 'Fresh']
produces_2016.loc[(produces_2016['Form'] == 'Heads') & (produces_2016['Produce']== 'Cauliflower'),  ['Produce', 'Form']] = ['Cauliflower heads', 'Fresh']
produces_2016.loc[(produces_2016['Form'] == 'Juice, ready to drink')  & (produces_2016['Produce'] =='Grapefruit'),    ['Produce', 'Form']] = ['Grapefruit, ready to drink', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Juice, ready to drink')  & (produces_2016['Produce'] =='Plums'),    ['Produce', 'Form']] = ['Plums (oprunes), ready to drink', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Juice, ready to drink')  & (produces_2016['Produce'] =='Pomegranate'),    ['Produce', 'Form']] = ['Pomegranate, ready to drink', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Ready to drink')  & (produces_2016['Produce'] =='Apples'),    ['Produce', 'Form']] = ['Apples, ready to drink', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Ready to drink')  & (produces_2016['Produce'] =='Grapes'),    ['Produce', 'Form']] = ['Grapes, ready to drink', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Ready to drink')  & (produces_2016['Produce'] =='Oranges'),    ['Produce', 'Form']] = ['Oranges, ready to drink', 'Juice']
produces_2016.loc[(produces_2016['Form'] == 'Ready to drink')  & (produces_2016['Produce'] =='Pineapple'),    ['Produce', 'Form']] = ['Pineapple, ready to drink', 'Juice']
produces_2016.loc[produces_2016['Form'] == 'Cooked whole',  ['Produce', 'Form']] = ['Carrots, cooked whole', 'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Dried (Prunes)',  ['Produce', 'Form']] = ['Plums (prunes)',  'Dried']
produces_2016.loc[produces_2016['Form'] == 'Fresh green cabbage',  ['Produce', 'Form']] = ['Gteen cabbage', 'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Fresh red cabbage',  ['Produce', 'Form']] = ['Purple cabbage', 'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Fresh, consumed with peel',  ['Produce', 'Form']] = ['Cucumber with peel',  'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Fresh, peeled' ,  ['Produce', 'Form']] = ['Cucumber without peel',  'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Frozen french fries',  ['Produce', 'Form']] = ['Potatoes, french fries',  'Frozen']
produces_2016.loc[produces_2016['Form'] == 'Full Heads',  ['Produce', 'Form']] = ['Lettuce, romaine, heads',  'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Grape and cherry',  ['Produce', 'Form']] = ['Tomatoes, grape and cherry',  'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Hearts',  ['Produce', 'Form']] = ['Lettuce, romaine, hearts',  'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Large round',  ['Produce', 'Form']] = ['Tomatoes, Large round',  'Fresh']
produces_2016.loc[(produces_2016['Form'] == 'Packed in juice')  & (produces_2016['Produce'] =='Apricots'),  ['Produce', 'Form']] = ['Apricots, Packed in juice',  'Canned']
produces_2016.loc[produces_2016['Form'] == 'Raw baby',  ['Produce', 'Form']] = ['Carrots, raw baby', 'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Raw whole',  ['Produce', 'Form']] = ['Carrots, raw whole', 'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Roma and plum',  ['Produce', 'Form']] = ['Tomatoes, roma and plum',  'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Sliced',  ['Produce', 'Form']] = ['Mushrooms, sliced',  'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Sticks',  ['Produce', 'Form']] = ['Celerty sticks', 'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Trimmed bunches',  ['Produce', 'Form']] = ['Celery, trimmed bunches', 'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Whole',  ['Produce', 'Form']] = ['Mushrooms, whole',  'Fresh']
produces_2016.loc[produces_2016['Form'] == 'Raisins',  ['Produce', 'Form']] = ['Grapes (raisins)',  'Dried']
produces_2016.loc[(produces_2016['Form'] == 'Boiled')  & (produces_2016['Produce'] =='Spinach'),  ['Produce', 'Form']] = ['Spinach, boiled',  'Fresh']
produces_2016.loc[(produces_2016['Form'] == 'Raw')  & (produces_2016['Produce'] =='Spinach'),  ['Produce', 'Form']] = ['Spinach, eaten raw',  'Fresh']
produces_2016.loc[produces_2016['Produce'] == 'Cucumber without peel',  ['Produce',]] = ['Cucumber, without pee']

produces_2016.value_counts('Form')

Form
Fresh         67
Canned        36
Frozen        26
Dried         17
Juice         10
Sauerkraut     1
Name: count, dtype: int64

## **Finalizing the data preparation**

Almost done with the data prep.

I will concatenate the five dataframes with fruits and vegetables cost info into a single dataframe called produces.

I will drop the columns that will not be used in this analysis.

I will add/populate a Fruit_Veg column to produces.

Then, I will classify the produces by color, by merging produces and colors. 

Finally,I will create the dataframes that will be used for the visualizations:  
- all_combinations: dataframe containing all possible combination to achieve five '5 a Day the Color Way.'
- fresh_combinations: dataframe containing all possible combination to achieve five '5 a Day the Color Way, using fresh produce only.'
- canned_combinations: dataframe containing all possible combination to achieve five '5 a Day the Color Way, using canned produce only.'
- frozen_combinations: dataframe containing all possible combination to achieve five '5 a Day the Color Way, using frozen produce only.'

In [382]:
#Create df_produce
produces = pd.concat([fruits_20, fruits_22, vegetables_20, vegetables_22, produces_2016], axis=0).reset_index(drop=True)
fruits_20.shape, fruits_22.shape, vegetables_20.shape, vegetables_22.shape, produces_2016.shape, produces.shape

((62, 9), (62, 9), (93, 9), (93, 9), (157, 9), (467, 9))

In [383]:
produces.head()

,Produce,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice,Year
0,Apples,Fresh,1.5193,per pound,0.90,0.2425,pounds,0.4094,2020
1,"Apples, applesauce",Canned,1.0660,per pound,1.00,0.5401,pounds,0.5758,2020
2,"Apples, ready-to-drink",Juice,0.7804,per pint,1.00,8.0000,fluid ounces,0.3902,2020
3,"Apples, frozen concentrate",Juice,0.5853,per pint,1.00,8.0000,fluid ounces,0.2926,2020
4,Apricots,Fresh,2.9665,per pound,0.93,0.3638,pounds,1.1603,2020

In [384]:
#Drop columns that will not be used in this analysis.
produces.drop(columns=['RetailPrice','RetailPriceUnit','Yield','CupEquivalentSize','CupEquivalentUnit'], inplace=True)
produces.head()

                      Produce    Form  CupEquivalentPrice  Year
0                      Apples   Fresh              0.4094  2020
1          Apples, applesauce  Canned              0.5758  2020
2      Apples, ready-to-drink   Juice              0.3902  2020
3  Apples, frozen concentrate   Juice              0.2926  2020
4                    Apricots   Fresh              1.1603  2020

In [385]:
#Add/populate 'Fruit_Veg' column to df_produces, which will be used to merge df_produces with df_colors.
produces['Fruit_Veg'] = produces['Produce'].str.split(',').str[0]
produces.head()

                      Produce    Form  CupEquivalentPrice  Year Fruit_Veg
0                      Apples   Fresh              0.4094  2020    Apples
1          Apples, applesauce  Canned              0.5758  2020    Apples
2      Apples, ready-to-drink   Juice              0.3902  2020    Apples
3  Apples, frozen concentrate   Juice              0.2926  2020    Apples
4                    Apricots   Fresh              1.1603  2020  Apricots

In [386]:
colors.head()

     Produce_nm          Color
0  Acorn squash  Yellow/Orange
1        Apples            Red
2     Appricots  Yellow/Orange
3    Artichokes         Greens
4       Arugula         Greens

In [387]:
#Classify produce by color, by merging df_produces and colors. 
#Drop the Fruit_Veg bacuase it is no longer needed
classified_produce = pd.merge(colors, produces, how='inner')
classified_produce.drop(columns=['Fruit_Veg'], inplace=True)
classified_produce.head()

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
#getting count of classified produce by color to decide on the order of merging the records.
classified_produce.value_counts("Color")

Create dataframe with all_combinations as follows:
1. Combine records with the first 2 colors.
2. Drop combinations that includes records from multiple years
3. For each additional color, repeat steps 1 & 2 by combining prior result with that color
4. Leave only one year colunm.
5. Add column with total cost.


Create fresh_combinations by extracting records from all combinations were all form column equal fresh.
Create canned_combinations by extracting records from all combinations were all form column equal canned.
Create frozen_combinations by extracting records from all combinations were all form column equal frozen.

In [ ]:
v_colors = classified_produce['Color'].drop_duplicates()
red = classified_produce[classified_produce['Color'] == 'Red']
green = classified_produce[classified_produce['Color'] == 'Greens']
yellow = classified_produce[classified_produce['Color'] == 'Yellow/Orange']
white = classified_produce[classified_produce['Color'] == 'White/Tan/Brown']
blue = classified_produce[classified_produce['Color'] == 'Blue/Purple']

#renaming columns to support the cartisian merge
red = red.set_axis(['Color_r', 'Produce_r', 'Form_r', 'CupEquivalentPrice_r', 'Year_r'], axis=1)
green = green.set_axis(['Color_g', 'Produce_g', 'Form_g', 'CupEquivalentPrice_g', 'Year_g'], axis=1)
yellow = yellow.set_axis(['Color_y', 'Produce_y', 'Form_y', 'CupEquivalentPrice_y', 'Year_y'], axis=1)
white = white.set_axis(['Color_w', 'Produce_w', 'Form_w', 'CupEquivalentPrice_w', 'Year_w'], axis=1)
blue = blue.set_axis(['Color_b', 'Produce_b', 'Form_b', 'CupEquivalentPrice_b', 'Year_b'], axis=1)

all_combinations = blue.assign(key=1).merge(white.assign(key=1), on='key').drop('key', axis=1)
all_combinations = all_combinations[all_combinations['Year_b'] == all_combinations['Year_w']]
all_combinations = all_combinations.assign(key=1).merge(yellow.assign(key=1), on='key').drop('key', axis=1)
all_combinations = all_combinations[all_combinations['Year_b'] == all_combinations['Year_y']]
all_combinations = all_combinations.assign(key=1).merge(green.assign(key=1), on='key').drop('key', axis=1)
all_combinations = all_combinations[all_combinations['Year_b'] == all_combinations['Year_g']]
all_combinations  = all_combinations.assign(key=1).merge(red.assign(key=1), on='key').drop('key', axis=1)
all_combinations = all_combinations[all_combinations['Year_b'] == all_combinations['Year_r']]

all_combinations['Total_Price'] = all_combinations['CupEquivalentPrice_r'] + all_combinations['CupEquivalentPrice_g'] + all_combinations['CupEquivalentPrice_y'] + all_combinations['CupEquivalentPrice_w'] + all_combinations['CupEquivalentPrice_b']
all_combinations.drop(columns=['Year_w','Year_y', 'Year_g','Year_r'], inplace=True)
all_combination = all_combinations.rename(columns={'Year_b': 'Year'})

print(all_combinations.shape)
all_combinations.head(10)

In [ ]:
fresh_combinations = all_combinations[(all_combinations['Form_r'] == 'Fresh') & (all_combinations['Form_g'] == 'Fresh') & (all_combinations['Form_y'] == 'Fresh') & (all_combinations['Form_w'] == 'Fresh') & (all_combinations['Form_b'] == 'Fresh')]
print(fresh_combinations.shape)
fresh_combinations.head(10)

In [ ]:
canned_combinations = all_combinations[(all_combinations['Form_r'] == 'Canned') & (all_combinations['Form_g'] == 'Canned') & (all_combinations['Form_y'] == 'Canned') & (all_combinations['Form_w'] == 'Canned') & (all_combinations['Form_b'] == 'Canned')]
print(canned_combinations.shape)
canned_combinations.head(10)

In [ ]:
count = classified_produce.groupby(['Form', 'Color' ]).size().reset_index(name='count')
print(count)

In [ ]:
The canned_combinations data frame is empty because the Data set does not have any price information for canned blue/purple produce.

In [ ]:
frozen_combinations = all_combinations[(all_combinations['Form_r'] == 'Frozen') & (all_combinations['Form_g'] == 'Frozen') & (all_combinations['Form_y'] == 'Frozen') & (all_combinations['Form_w'] == 'Frozen') & (all_combinations['Form_b'] == 'Frozen')]
print(frozen_combinations.shape)
frozen_combinations.head(10)

### Filter/group data to use in visualizations

In [ ]:
#Create dataframe with the average cost of produce by year and color 
Avg_Cost = classified_produce.groupby(['Year','Color']).agg({'CupEquivalentPrice': 'mean'}).reset_index()

print(Avg_Cost)

In [ ]:
Avg_Cost_Pivoted = Avg_Cost.pivot(index='Year', columns='Color', values='CupEquivalentPrice')
Avg_Cost_Pivoted

In [ ]:
all_combinations.head()

In [ ]:
#Create a dataframe with the five lowest total cost of selecting 5 service of produce with different color, per year
Lowest_cost_all = all_combinations.sort_values(['Year','Toral_Price'])
Lowest_cost_all.head(10)

In [ ]:
Lowest_cost_all = all_combinations.groupby('Year').head(5).reset_index(drop=True)

## **Data Visualization**

In [ ]:
#Create a nulti-line graph showing the averages cost of produce by color and year

# Create the plot
plt.figure(figsize=(20, 12)) 

Avg_Cost_Pivoted.plot(kind='line', marker='o')

# x = Avg_Cost_Pivoted['Year']
# y1 = Avg_Cost_Pivoted['Blue/Purple']
# y2 = Avg_Cost_Pivoted['Greens']
# y3 = Avg_Cost_Pivoted['Red']
# y4 = Avg_Cost_Pivoted['White/Tan/Brown']
# y5 = Avg_Cost_Pivoted['Yellow/Orange']

# plt.plot(x, y1, color='purple')
# plt.plot(x, y2, color='green')
# plt.plot(x, y3, color='red')
# plt.plot(x, y4, color='brown')
# plt.plot(x, y5, color='orange')

# Add title and labels
plt.title('Average Cost of Produce by Color and Year')
plt.xlabel('Year')
plt.ylabel('Color')


# Show the plot
plt.legend(title='Color', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True)
plt.show()

In [ ]:
e