In [50]:

import pandas as pd

import matplotlib.pyplot as plt

import requests

from bs4 import BeautifulSoup

import os

In [51]:
colors = pd.read_csv("Fruits_Vegs_Colors.csv")
colors.head()

     Fruit_Veg Color
0       Apples   Red
1     Cherries   Red
2  Cranberries   Red
3       Grapes   Red
4  Pomegranate   Red

In [76]:
fruits_20 = pd.read_csv("Fruit_Prices_2020.csv")
fruits_20.head()

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.5193,per pound,0.90,0.2425,pounds,0.4094
1,"Apples, applesauce",Canned,1.0660,per pound,1.00,0.5401,pounds,0.5758
2,"Apples, ready-to-drink",Juice,0.7804,per pint,1.00,8.0000,fluid ounces,0.3902
3,"Apples, frozen concentrate",Juice,0.5853,per pint,1.00,8.0000,fluid ounces,0.2926
4,Apricots,Fresh,2.9665,per pound,0.93,0.3638,pounds,1.1603

In [61]:
fruits_20.dtypes

Fruit                  object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

In [77]:
fruits_22 = pd.read_csv("Fruit_Prices_2022.csv")
fruits_22.head()

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.8541,per pound,0.90,0.2425,pounds,0.4996
1,"Apples, applesauce",Canned,1.1705,per pound,1.00,0.5401,pounds,0.6323
2,"Apples, ready-to-drink",Juice,0.8699,per pint,1.00,8.0000,fluid ounces,0.4349
3,"Apples, frozen concentrate",Juice,0.6086,per pint,1.00,8.0000,fluid ounces,0.3043
4,Apricots,Fresh,3.6162,per pound,0.93,0.3638,pounds,1.4145

In [62]:
fruits_22.dtypes

Fruit                  object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

In [78]:
vegetables_20 = pd.read_csv("Vegetable_Prices_2020.csv")
vegetables_20.head()

,Vegetable,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Acorn squash,Fresh,1.1804,per pound,0.4586,0.4519,pounds,1.1633
1,Artichoke,Fresh,2.1913,per pound,0.3750,0.3858,pounds,2.2545
2,Artichoke,Canned,3.4119,per pound,0.6500,0.3858,pounds,2.0251
3,Asparagus,Fresh,2.7576,per pound,0.4938,0.3968,pounds,2.2159
4,Asparagus,Canned,3.1269,per pound,0.6500,0.3968,pounds,1.9090

In [64]:
vegetables_20.dtypes

Vegetable              object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

In [79]:
vegetables_22 = pd.read_csv("Vegetable_Prices_2022.csv")
vegetables_22.head()

,Vegetable,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Acorn squash,Fresh,1.2136,per pound,0.4586,0.4519,pounds,1.1961
1,Artichoke,Fresh,2.4703,per pound,0.3750,0.3858,pounds,2.5415
2,Artichoke,Canned,3.4498,per pound,0.6500,0.3858,pounds,2.0476
3,Asparagus,Fresh,2.9531,per pound,0.4938,0.3968,pounds,2.3731
4,Asparagus,Canned,3.4328,per pound,0.6500,0.3968,pounds,2.0958

In [81]:
#Add year field to 2020 and 2022 fruits and vegetables tables.df_produces
# Rename the Fruit and Vegetable columns to Produce.
# Then merge all four datafrane to df_produces
fruits_20['Year'] = 2020
fruits_22['Year'] = 2022
vegetables_20['Year'] = 2020
vegetables_22['Year'] = 2022

fruits_20 = fruits_20.rename(columns={'Fruit' : 'Produce'})
fruits_22 = fruits_22.rename(columns={'Fruit' : 'Produce'})
vegetables_20 = vegetables_20.rename(columns={'Vegetable' : 'Produce'})
vegetables_22 = vegetables_22.rename(columns={'Vegetable' : 'Produce'})

df_produces = pd.concat([fruits_20, fruits_22, vegetables_20, vegetables_22])
fruits_20.shape, fruits_22.shape, vegetables_20.shape, vegetables_22.shape, df_produces.shape

((62, 9), (62, 9), (93, 9), (93, 9), (310, 9))

In [82]:
df_produces.head()

,Produce,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice,Year
0,Apples,Fresh,1.5193,per pound,0.90,0.2425,pounds,0.4094,2020
1,"Apples, applesauce",Canned,1.0660,per pound,1.00,0.5401,pounds,0.5758,2020
2,"Apples, ready-to-drink",Juice,0.7804,per pint,1.00,8.0000,fluid ounces,0.3902,2020
3,"Apples, frozen concentrate",Juice,0.5853,per pint,1.00,8.0000,fluid ounces,0.2926,2020
4,Apricots,Fresh,2.9665,per pound,0.93,0.3638,pounds,1.1603,2020

In [84]:
#Check for null values
df_produces.isnull().sum()

Produce               0
Form                  0
RetailPrice           0
RetailPriceUnit       0
Yield                 0
CupEquivalentSize     0
CupEquivalentUnit     0
CupEquivalentPrice    0
Year                  0
dtype: int64

In [88]:
df_produces.value_counts('Form')

Form
Fresh     132
Canned     72
Frozen     50
Dried      34
Juice      22
Name: count, dtype: int64

In [86]:
df_produces.dtypes

Produce                object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
Year                    int64
dtype: object

The 2026 data is in single csv file per produce and have been saved to the folder \Fruits_Vegs_2016.
The name of the files follows the following format: "<produce name> 2016.csv"
Only the first 7 columns contain informaation; some file have  additional columns with null values.
Using os.listdir() inside of a loop, the following will be done:
    Get the filename.
    Extract the produce name from the file name.
    Read the file into a dataframe.
    If the dataframe have moe than 7 columns, additional columns will be dropped.
    The columns will be renamed to be consistent with the naming of the columns in df_produces (containing 2020 and 2022 data)
    A column with the produce name will be added to the dataframe.

In [91]:
df_test = pd.read_csv("Fruits_Vegs_2016\\apples 2016.csv", encoding='ISO-8859-1')

df_test.insert(0, "Produce'", "Apples")
df_test.head()

,Produce',"ApplesAverage retail price per pound or pint and per cup equivalent, 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Apples,Form,Average retail price,NaN,Preparation,Size of a,NaN,Average price
1,Apples,NaN,NaN,NaN,yield factor,cup equivalent,NaN,per cup equivalent
2,Apples,Fresh1,$1.62,per pound,0.9,0.243,pounds,$0.44
3,Apples,Applesauce2,$1.05,per pound,1,0.540,pounds,$0.57
4,Apples,Juice,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
# Assign directory
directory = r"Fruits_Vegs_2016\\" 
df_produces_2016  = pd.DataFrame()

# Iterate over files in directory
for fname in os.listdir(directory):
    pos = fname.find(" ")
    produce_nm = fname[:pos]
    complete_filename = directory + fname
    df_produce = pd.read_csv(complete_filename, encoding='ISO-8859-1')

    #Information in these files are stored in the first 8 columns. The following drops any additional column.
    column_cnt = df_produce.shape[1]
    if column_cnt > 7:
        df_produce = df_produce.drop(df_produce.iloc[:,7:column_cnt], axis=1)   
    
    #The first row contains a description of the file, wwhich is read as the first column heading and the others are unnamed.
    #Therefore, the columns are renamed to be consistent with the columns in the files for 20202 and 2022
    #This also enable merging them into a single dataframe
    df_produce = df_produce.set_axis(['Form', 'RetailPrice', 'RetailPriceUnit', 'Yield', 'CupEquivalentSize', 'CupEquivalentUnit', 'CupEquivalentPrice'], axis=1)
    #df_produce['Produce'] = produce_nm
    df_produce.insert(0, "Produce", produce_nm)
    df_produces_2016 = pd.concat([df_produces_2016,df_produce])


 
df_produces_2016.head(10)

,Produce,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,acorn_squash,Form,Average retail price,NaN,Preparation,Size of a,NaN,Average price
1,acorn_squash,NaN,NaN,NaN,yield factor,cup equivalent,NaN,per cup equivalent
2,acorn_squash,Fresh1,$1.12,per pound,0.459,0.452,pounds,$1.10
3,acorn_squash,1It is assumed that consumers bake acorn squas...,NaN,NaN,NaN,NaN,NaN,NaN
4,acorn_squash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,acorn_squash,"Source: Calculated by USDA, Economic Research ...",NaN,NaN,NaN,NaN,NaN,NaN
0,apples,Form,Average retail price,NaN,Preparation,Size of a,NaN,Average price
1,apples,NaN,NaN,NaN,yield factor,cup equivalent,NaN,per cup equivalent
2,apples,Fresh1,$1.62,per pound,0.9,0.243,pounds,$0.44
3,apples,Applesauce2,$1.05,per pound,1,0.540,pounds,$0.57

In [109]:
# Now, I am going to drop rows that do not containd the data needed for the analysis: 
#   Rows were the RetailPriceUnit field is null 
df_produces_2016.dropna(subset=['RetailPriceUnit'], inplace=True) 
df_produces_2016.head(10)

,Produce,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
2,acorn_squash,Fresh1,$1.12,per pound,0.459,0.452,pounds,$1.10
2,apples,Fresh1,$1.62,per pound,0.9,0.243,pounds,$0.44
3,apples,Applesauce2,$1.05,per pound,1,0.540,pounds,$0.57
5,apples,Ready to drink3,$0.63,per pint,1,8,fl oz,$0.32
6,apples,Frozen4,$0.51,per pint,1,8,fl oz,$0.26
2,apricots,Fresh1,$3.09,per pound,0.93,0.364,pounds,$1.21
4,apricots,Packed in juice2,$1.47,per pound,1,0.540,pounds,$0.80
5,apricots,"Packed in syrup, syrup discarded3",$1.86,per pound,0.65,0.441,pounds,$1.26
6,apricots,Dried4,$7.33,per pound,1,0.143,pounds,$1.05
2,artichoke,Fresh1,$2.36,per pound,0.375,0.386,pounds,$2.43

In [110]:

#df_produces_2016['Form'] = df_produces_2016['Form'].astype('string')
#df_produces_2016['Form'] = df_produces_2016['Form'].strip()
df_produces_2016.dtypes

Produce               object
Form                  object
RetailPrice           object
RetailPriceUnit       object
Yield                 object
CupEquivalentSize     object
CupEquivalentUnit     object
CupEquivalentPrice    object
dtype: object

In [111]:
# Change the the type of the column that will be used in calculations 
df_produces_2016['Produce'] = df_produces_2016['Produce'].astype('string')
df_produces_2016['Form'] = df_produces_2016['Form'].astype('string')
df_produces_2016['RetailPrice'] = df_produces_2016['RetailPrice'].str.replace('$', '').astype(float)
df_produces_2016['Yield'] = df_produces_2016['Yield'].str.replace(',', '').astype(float)
df_produces_2016['CupEquivalentPrice'] = df_produces_2016['CupEquivalentPrice'].str.replace('$', '').astype(float)
df_produces_2016.dtypes

Produce               string[python]
Form                  string[python]
RetailPrice                  float64
RetailPriceUnit               object
Yield                        float64
CupEquivalentSize             object
CupEquivalentUnit             object
CupEquivalentPrice           float64
dtype: object

In [112]:
df_produces.value_counts('Form')

Form
Fresh     132
Canned     72
Frozen     50
Dried      34
Juice      22
Name: count, dtype: int64

In [115]:
#Get distict values in Form column and clean
df_produces_2016.value_counts('Form')

Form
Fresh1                                 44
Frozen2                                11
Canned1                                10
Frozen3                                 9
Canned2                                 8
Dried2                                  8
  Packed in juice2                      4
Frozen4                                 3
  Packed in syrup or water3             3
Dried1                                  3
Canned3                                 2
  Canned1                               2
Ready to drink3                         2
Juice, ready to drink2                  2
Dried4                                  2
  Packed in juice1                      1
  Full Heads                            1
  Packed in syrup, syrup discarded3     1
  Packed in syrup or water2             1
Canned1,2                               1
  Hearts                                1
  Heads1                                1
  Heads                                 1
  Frozen4                               1
  Frozen2                               1
  Florets1                              1
  Florets                               1
Dried1                                  1
Dried (Prunes)2                         1
Canned5                                 1
Cooked whole1                           1
Applesauce2                             1
Boiled                                  1
Canned, packed in syrup or water2       1
Fresh red cabbage1                      1
Fresh1                                  1
Fresh, peeled1                          1
Fresh, consumed with peel1              1
Frozen                                  1
Frozen1                                 1
Frozen french fries2                    1
Fresh green cabbage1                    1
Dried3                                  1
Grape and cherry1,2                     1
Frozen6                                 1
Large round1,4                          1
Juice, ready to drink3                  1
Raw                                     1
Raw baby2                               1
Raw whole1                              1
Raisins2                                1
Ready to drink2                         1
Ready to drink5                         1
Roma and plum1,3                        1
Sauerkraut2                             1
Sliced                                  1
Sticks                                  1
Trimmed bunches                         1
Whole                                   1
Name: count, dtype: int64

In [ ]:
# Change the Form column to a string and clean-up values
#df_produces_2016['Form'] = df_produces_2016['Form'].astype('string')
#df_produces_2016['Form'] = df_produces_2016['Form'].strip()
df_produces_2016.dtypes

In [ ]:
# Clean-up values in column Form

df_produces_2016 = df_produces_2016.Form.replace("1,2", "")

In [ ]:

df_produces_2016 = df_produces_2016.Form.replace("1,3", "")
df_produces_2016 = df_produces_2016.Form.replace("1,4", "")
df_produces_2016 = df_produces_2016.Form.replace("1", "")
df_produces_2016 = df_produces_2016.Form.replace("2", "")
df_produces_2016 = df_produces_2016.Form.replace("3", "")
df_produces_2016 = df_produces_2016.Form.replace("4", "")
df_produces_2016 = df_produces_2016.Form.replace("5", "")
df_produces_2016 = df_produces_2016.Form.replace("6", "")

In [ ]:
# Change the Form column to a string and clean-up values
df_produces_2016['Form'] = df_produces_2016['Form'].astype('string')
df_produces_2016['Form'] = df_produces_2016['Form'].strip()

In [ ]:

df_produces_2016['Form'] = df['City'].replace('New York', 'San Francisco')

In [ ]:
#url = "https://fruitsandveggies.org/stories/fruit-and-veggie-color-list"
url = 'https://www.heart.org/en/healthy-living/healthy-eating/add-color/eat-more-color'
response = requests.get(url)
response